@font-face {
  font-family: "akira";
  src: url("../fonts/AkiraExpanded.otf") format("opentype");
}
a {
  text-decoration: none;
  color: inherit;
}

#burger {
  z-index: 10;
  top: 3%;
  right: 4%;
  width: 40px;
  height: 25px;
  position: absolute;
  display: none;
}
#burger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#burger :nth-child(2) {
  top: 15px;
}

#burger.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#burger.open span:nth-child(2) {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

body {
  font-family: akira, serif;
  background-image: url("../img/back_black.png");
  background-repeat: repeat;
  height: 200vh;
  overflow-x: hidden;
  color: white;
}

#color {
  top: 2%;
  position: fixed;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

#menu {
  z-index: 5;
  padding: 5% 5% 0 0;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 0;
}

#menu p {
  animation-duration: 1s;
  animation-fill-mode: both;
  cursor: pointer;
  animation-name: fadeInright;
}

#menu :nth-child(1) {
  animation-delay: 0.25s;
}

#menu :nth-child(2) {
  animation-delay: 0.5s;
}

#menu :nth-child(3) {
  animation-delay: 0.75s;
}

#menu :nth-child(4) {
  animation-delay: 1s;
}

#title {
  font-size: 4rem;
  margin: 5% 5% 5% 5%;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
}

#title2 {
  margin: 5% 5% 20% 5%;
}
#title2 img {
  width: 60%;
}

.acceuil {
  -webkit-text-stroke: 1.5px #504F59;
  color: rgba(0, 0, 0, 0);
  transform: rotate(90deg);
  right: -6%;
  bottom: 10%;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 25%;
  max-width: 640px;
  height: 40px;
}

.acceuil span {
  position: absolute;
}

#fonctionnement {
  font-size: 2.5rem;
  margin: 10% 5% 5% 2%;
  padding-bottom: 6px;
  background: url("../img/underline_1.png") bottom repeat-x;
}

#wheel {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#our {
  margin: 10% 0 10% 0;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}
#our .in {
  font-family: Antonio, serif;
  font-size: 1.1rem;
}
#our .in div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#our .in h1 {
  margin: 0 20px 0 20px;
  padding: 0;
}
#our .in p {
  width: 15vw;
}
#our .in div:nth-of-type(2) p {
  text-align: end;
}

.in {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 0;
}

#portfolio {
  margin: 10% 0 10% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#confiance, #contact-us {
  font-size: 2.5rem;
  margin-left: 2%;
  padding-bottom: 6px;
  background: url("../img/underline_1.png") bottom repeat-x;
}

.portfolio, .contact {
  -webkit-text-stroke: 1.5px #504F59;
  color: rgba(0, 0, 0, 0);
  transform: rotate(90deg);
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: -9%;
  width: 25%;
  max-width: 640px;
  height: 40px;
}
.portfolio span, .contact span {
  position: absolute;
}

.portfolio {
  left: -14%;
  width: 35%;
}

/*.contact {
  width: 40vh;
  left: -6%;
  margin-top: -70px;


}*/
#nomsoc {
  width: 40%;
  margin-left: 10%;
  margin-right: 10%;
}
#nomsoc div {
  background-image: url("../img/radiant.jpeg");
  -webkit-background-clip: text;
}

#nomsoc h1 {
  font-size: 1.5rem;
  cursor: pointer;
}

#nomsoc p {
  font-size: 0.7rem;
}

#nomsoc svg {
  width: 100%;
}

#display {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 97px;
  margin-right: 5%;
}

#img_display {
  width: 100%;
  background: #C4C4C4;
  border-radius: 97px;
  margin-bottom: 10%;
}

#contact {
  margin: 10% 0 10% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#tel-mail {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Antonio";
}
#tel-mail > div:nth-of-type(1) {
  margin-bottom: 8vh;
}

.tel-mail {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.tel-mail p {
  margin: 0;
  margin-bottom: 5px;
}
.tel-mail div, .tel-mail svg {
  padding-right: 20px;
}
.tel-mail div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#form {
  width: 50vw;
}
#form .in::placeholder {
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  font-family: "Antonio";
}
#form .in {
  height: 2rem;
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: white;
  font-size: 1.3rem;
  font-family: "Antonio";
}
#form .in:nth-of-type(1), #form .in:nth-of-type(2) {
  width: 47%;
  margin-bottom: 20px;
  display: inline;
}
#form .in:nth-of-type(3) {
  width: 98%;
}
#form .g-recaptcha {
  width: 40%;
  border: 3px solid #fff;
  height: 40px;
  font-size: 1.1rem;
  float: right;
  margin-right: 2%;
}
#form #message {
  width: 98%;
  height: 100px;
}

.grecaptcha-badge {
  display: none;
}

#nomsoc > div:nth-of-type(1), #nomsoc > svg:nth-of-type(1) {
  animation-delay: 0.25s;
  opacity: 0;
}

#nomsoc > div:nth-of-type(2), #nomsoc > svg:nth-of-type(2) {
  animation-delay: 0.5s;
  opacity: 0;
}

#nomsoc > div:nth-of-type(3), #nomsoc > svg:nth-of-type(3) {
  animation-delay: 0.75s;
  opacity: 0;
}

#nomsoc > div:nth-of-type(4), #nomsoc > svg:nth-of-type(4) {
  animation-delay: 1s;
  opacity: 0;
}

#nomsoc > svg:nth-of-type(5) {
  animation-delay: 1.25s;
  opacity: 0;
}

#menu :nth-child(1) {
  animation-delay: 0.25s;
}

#menu :nth-child(2) {
  animation-delay: 0.5s;
}

#menu :nth-child(3) {
  animation-delay: 0.75s;
}

#menu :nth-child(4) {
  animation-delay: 1s;
}

.fadeInBottom {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
}

.fadeInright {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInright;
}

.fadeInLeft {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInright {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
  }
}
@media all and (max-width: 1024px) {
  #our .in p {
    width: 30vw;
  }
}
@media all and (max-width: 980px) {
  #title {
    font-size: 3rem;
  }

  #fonctionnement, #contact-us, #confiance {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 740px) {
  #title {
    font-size: 2rem;
  }

  #display {
    display: none;
  }

  #nomsoc {
    width: auto;
  }
}
@media all and (max-width: 650px) {
  #first {
    height: 100vh;
  }

  #menu, .acceuil, #wheel, .contact {
    display: none;
  }

  #title {
    margin-top: 55vh;
  }

  #fonctionnement {
    margin-top: 5%;
  }

  #our .in {
    flex-direction: column;
  }
  #our .in p {
    width: 60vw;
  }
  #our .in div:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  #our .in div:nth-of-type(2) p {
    text-align: inherit;
  }

  #contact {
    flex-direction: column-reverse;
  }
  #contact #form {
    width: auto;
  }

  #burger {
    display: inline-block;
  }

  #menu {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
@media all and (max-width: 530px) {
  #title {
    font-size: 1.3em;
  }

  #fonctionnement, #contact-us, #confiance {
    font-size: 1rem;
  }

  #menu {
    font-size: 1em;
  }
}
@media all and (max-width: 330px) {
  #title {
    font-size: 1em;
  }

  #menu {
    font-size: 0.7em;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.ph_black::placeholder {
  color: black !important;
}

/*# sourceMappingURL=styles.css.map */
